
.game {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.lewy {
  width: 500px;
  float: left;
}

.prawy {
  width: 500px;
  float: left;
}


.generator {
  background-image: url('img/128px-Block_Lava_Generator.png');
  width: 128px;
  height: 128px;
}
